<DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Extra Credit Info</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		
	</head>

	<body>
		
		<div class="container">

		<header>
			Thank you.  Your response has been recorded.<br><br>
			Please fill in the information below to make sure your
			participation is logged for extra credit.
		</header>	

			<form id="infoform" action="" method="POST">

				<label for='name'>Student Name</label>{{ form.name(placeholder='Enter your name....') }}
				<span id="name_error"></span><br>
				
				<label for='school'>School</label>{{ form.school }}
				<span id="school_error"></span><br>
				
				<label for='instructor'>Instructor</label>{{ form.instructor(placeholder='Enter instructor\'s last name....') }}
				<span id="instructor_error"></span><br>

				<label for='email'>Your email</label>{{ form.email(placeholder='Enter your .edu email address....') }}
				<span id="email_error"></span><br>
				
				<input id="submit" type="submit" value="Submit">
				
				<span id="dupe_warning">{{ name_warning }}</span>

			</form>
			
		</div>

		<div class="logos"></div>
		
		<div id="warning">Please enable JavaScript....</div>

		<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}" ></script>

	</body>


</html>